:root {
    --img-size: 50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6fb8b0;
    counter-reset: section;
    padding-bottom: 50px;
}

header {
    background-color: #ffdd00;
    padding: 15px;
    margin-bottom: 50px;
}

header * {
    max-width: 800px;
    margin: auto;
    text-align: center;
} 

header ul, header ul li {
    text-align: left;
}

header ul li {
    margin-top: 5px;
}

header table {
    margin: 20px auto 20px;
    border-spacing: 0;
    background-color: hsl(52, 100%, 85%);
    border: 2px solid black;
    outline: 10px solid hsl(52, 100%, 85%);
}

header table td, header table th {
    border: 1px solid black;
    padding: 5px;
}

.piece {
    width: 100%;
    border: 1px solid black;
}

.piece::after {
    margin: 0.3rem;
    border: 2px solid black;
    counter-increment: section;
    content: counter(section);
    background-color: beige;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

.piece:nth-child(1) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: 0 0;
    grid-row: 1/2;
    grid-column: 1/2;
}

.piece:nth-child(2) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: -100% 0;
    grid-column: 3/4;
    grid-row: 1/2;
}

.piece:nth-child(3) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: -200% 0;
    grid-column: 2/3;
    grid-row: 1/2;
}

.piece:nth-child(4) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: 0 -100%;
    grid-row: 3/4;
    grid-column: 2/3;
}

.piece:nth-child(5) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: -100% -100%;
    grid-row: 3/4;
    grid-column: 3/4;
}

.piece:nth-child(6) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: -200% -100%;
    grid-row: 2/3;
    grid-column: 3/4;
}

.piece:nth-child(7) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: 0 -200%;
    grid-row: 3/4;
    grid-column: 1/2;
}

.piece:nth-child(8) {
    background-image: url("ferrari.jpg");
    background-size: 300% 300%;
    background-position: -100% -200%;
    grid-row: 2/3;
    grid-column: 1/2;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
}